<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="dms.android" android:versionCode="1" android:versionName="1.0">
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name=".LiveButton" android:label="@string/app_name" android:theme="@android:style/Theme">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<receiver android:name="HeartbeatReceiver"></receiver>
		<activity android:theme="@android:style/Theme" android:name=".AcknowledgeActivity"></activity>
	</application>
	<uses-sdk android:minSdkVersion="7" />

	<uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
<uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
<uses-permission android:name="android.permission.CALL_PRIVILEGED"></uses-permission>
<uses-permission android:name="android.permission.SEND_SMS"></uses-permission>

</manifest> 